/* 네비게이션 바 */
.navbar {
  width: 772px;
  height: 26px;
  left: 126px;
  top: 61px;
  justify-content: space-between;
  align-items: center;
  margin:auto;
}

/* 네비게이션 리스트 */
.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* 각 링크 사이 간격 */
}

.navbar-item {
  font-family: "Albert Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* 링크 hover 스타일 */
.navbar-item a {
  text-decoration: none;
  color: inherit;
}

.navbar-item a:hover {
  color: #007bff; /* Hover 시 색상 변경 */
}