/* 네비게이션 바 */
.navbar {
  padding-top: 12px;
  width: 1300px; /* 772px * 1.2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 12px;
}

/* 홈 아이콘 컨테이너 */
#home-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  list-style: none;
}

#home-icon img {
  width: 240px; /* 200px * 1.2 */
  display: flex;
  margin: auto;
  padding: auto;
}

/* 네비게이션 리스트 */
.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 60px; /* 50px * 1.2 */
  align-items: center;
}

.navbar-item {
  font-family: "Albert Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px; /* 20px * 1.2 */
  line-height: 29px; /* 24px * 1.2 */
  color: #000000;
}

/* 링크 hover 스타일 */
.navbar-item a {
  text-decoration: none;
  color: inherit;
}

.navbar-item a:hover {
  color: #007bff;
}

.search-bar {
  height: 22px; /* 18px * 1.2 */
  width: 300px; /* 249.48px * 1.2 */
  display: flex;
  align-items: center;
  background-image: url("../../../public/resources/0.NavBar/Rectangle 14.png");
  background-size: 100% 100%;
  padding: 6px 12px;
  gap: 6px;
}

.search-field {
  border: none;
  background: none;
  outline: none;
  font-size: 19px; /* 16px * 1.2 */
  color: black;
  width: 100%;
}

.search-icon {
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.search-icon img {
  width: 18px; /* 15px * 1.2 */
}

.navbar-item span {
  padding: 12px; /* 10px * 1.2 */
  font-weight: 500;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .navbar {
    width: 90%;
    min-width: 700px;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 95%;
    min-width: auto;
  }
  
  .navbar-list {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .search-bar {
    width: 250px;
  }
}